*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.card{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
    height: 200px;
}

p{
    margin: 10px;
}